body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    background-image: linear-gradient(to right, lightgrey, darkgrey);


}
.header2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
    color: whitesmoke;
}

.header2 h2 {
    text-align: right;
    vertical-align: center;
}
.login-container {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.login-container h2 {
    text-align: center;
    color: black;
}
.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}
.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #1893C3;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.login-form button:hover {
    background-color: #126584;

}
.pictureLogo {
    padding: 10px 20px;
    background-color: white;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 40vw;
}
.opretBil-container {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.opretBil-container h2 {
    text-align: center;
    color: black;
}

.opretBil-form label {
    display: block;
    margin-bottom: 5px;
    color: black;
}

.opretBil-form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}
.opretBil-form button {
    width: 100%;
    padding: 10px;
    background-color: #1893C3;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.small-button button:hover {
    background-color: #126584;
}
.small-button:active {
    background-color: #043648;
}

.opretBil-dropdown {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.opretBil-dropdown::after {
    content: "\25BC";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}

.opretBil-dropdown option {
    padding: 10px;
    background-color: white;
    color: black;
}
.error-text {
    color: red;
    text-align: center;
    margin-top: 5px;
    padding-bottom: 15px;
}


.logud-knap {
    padding: 10px 20px;
    font-size: 25px;
    font-weight: bold;
    color: black;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.logud-knap:hover {
    background-color: #f0f0f0;
}

.logud-knap:active {
    background-color: #e0e0e0;
}

.box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 200px;
}
.containerbtn {
    width: 35%;
    height: 300px;
    background-color: #1893C3;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    font-size: xx-large;
    font-weight: bold;
}
.containerbtn:hover {
    background-color: #126584;
}

.containerbtn:active {
    background-color: #043648;
}
.containerimg {
    margin-top: 10px;
}
