<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bilabonnement Administrator</title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{css/style.css}">

</head>
<body>
<header class="header2">
    <img class="pictureLogo" src="../static/img/BILABONNEMENT_Logo.png" width="600" th:src="@{/img/BILABONNEMENT_Logo.png}">

</header>
    <div class="AdminContainer">
        <button class="adminbtn">Dataregistrer <br>
            <img src="../static/img/dataregistrer.png" width="100px" height="100px" th:src="@{/img/dataregistrer.png}" class="adminimg">
        </button>
        <button class="adminbtn">Skade og Udbedring <br>
            <img src="../static/img/skade.png" width="100px" height="100px" th:src="@{/img/skade.png}" class="adminimg">
        </button>
        <button class="adminbtn">Forretningsudvikler <br>
            <img src="../static/img/forretningsudv.png" width="100px" height="100px" th:src="@{/img/forretningsudv.png}" class="adminimg">
        </button>
        <button class="adminbtn">Opret ny bruger <br>
            <img src="../static/img/opretbruger.png" width="100px" height="100px" th:src="@{/img/opretbruger.png}" class="adminimg">
        </button>
</div>
</body>
</html>