<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bilabonnement Administrator</title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{css/style.css}">

</head>
<body>
<header class="header2">
    <img class="pictureLogo" src="../static/img/BILABONNEMENT_Logo.png" width="600" th:src="@{/img/BILABONNEMENT_Logo.png}">
    <button class="logud-knap">Log ud</button>


</header>
    <div class="box-container">
        <button class="containerbtn">Dataregistrer <br>
            <img src="../static/img/registerlejeaftale.jpg" width="100px" height="100px" th:src="@{/img/registerlejeaftale.jpg}" class="containerimg">
        </button>
        <button class="containerbtn">Skade og Udbedring <br>
            <img src="../static/img/skade.png" width="100px" height="100px" th:src="@{/img/skade.png}" class="containerimg">
        </button>
        <button class="containerbtn">Forretningsudvikler <br>
            <img src="../static/img/forretningsudv.png" width="100px" height="100px" th:src="@{/img/forretningsudv.png}" class="containerimg">
        </button>
        <button onclick="location.href='/OpretBruger'" class="containerbtn">Opret ny bruger <br>
            <img src="../static/img/opretbruger.png" width="100px" height="100px" th:src="@{/img/opretbruger.png}" class="containerimg">
        </button>
</div>
</body>
</html>