<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bilabonnement</title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{css/style.css}">

</head>
<body>
<header class="header2">
    <img class="pictureLogo" src="../static/img/BILABONNEMENT_Logo.png" width="600" th:src="@{/img/BILABONNEMENT_Logo.png}">

    <button onclick="location.href='/?logud=1'" class="logud-knap">Log ud</button>
</header>
<!-- lavet af Thomas !-->
<hr class="divide">
<div class="skaderapport-container">
    <div class="bilinfo-box">
        <h1>Bil der skal godkendes <br>til afhentning: <br><span th:text="${afventendeBiler.size()}"></span></h1>
    </div>
</div>

<div class="box-container">
    <div th:each="Lejeaftale: ${afventendeBiler}">
        <form action="/bekraeftlejeaftaleAfslut" method="post" onsubmit="return confirm('Er du sikker på, at denne bil er afhentet?');">
            <button class="lejeaftalebtn">
                <input type="hidden" name="chassisNumber" th:value="${Lejeaftale.chassisNumber}">
                <input type="hidden" name="lejeaftale" th:value="${Lejeaftale.Lejeaftale_id}">
                <input type="hidden" name="licenseplate" th:value="${Lejeaftale.licensePlate}">
                <input type="hidden" name="brand" th:value="${Lejeaftale.brand}">
                <input type="hidden" name="carmodel" th:value="${Lejeaftale.carModel}">
                Lejeaftale nr: <span th:text="${Lejeaftale.Lejeaftale_id}"></span><br>
                <img src="../static/img/returnkeys.png" width="100px" height="100px" th:src="@{/img/check-mark-icon.jpg}" class="containerimg">
                <br>
                <span th:text="${Lejeaftale.brand}"></span>  <span th:text="${Lejeaftale.carModel}"></span>
                <br>
                Nummerplade: <span th:text="${Lejeaftale.licensePlate}"></span><br><br>
                <span th:text="${Lejeaftale.afhentningssted}"></span><br>
                <span th:text="${Lejeaftale.afhentningstidspunkt}"></span>

            </button>
        </form>
    </div>
</div>
<div class="button-container">
    <button class="opretBilButton" onclick="window.location.href='/skade'">Tilbage</button>
</div>
</body>
</html>
