<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cookies side</title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{css/style.css}">
</head>
<body>
<header class="header2">
    <img class="pictureLogo" src="../static/img/BILABONNEMENT_Logo.png" width="600" th:src="@{/img/BILABONNEMENT_Logo.png}">
</header>
<!-- lavet af Laurits !-->
<hr class="divide">
<div class="login-container">
    <h2>Cookies</h2>
    <p>Vi indsamler nødvendige cookies ved brug af siden, som bruges til at sikre funktionaliteten af hjemmesiden,
        derudover indsamles kun de cookies du har accepteret her.
        Vi indsamler cookies for at kunne udarbejde statistikker,
        for at huske dine præferencer samt til brug for markedsføring,
        for at sikre du som bruger til enhver tid får den bedste oplevelse.
        Dine oplysninger videregives til de parter der fremgår her.
        </p>
    <a href="/">
        <button class="small-button2">Tilbage</button>
    </a>
</div>
</body>
</html>