<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Fleet</title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{css/style.css}">
</head>
<body>

<header class="header2">
    <img class="pictureLogo" src="../static/img/BILABONNEMENT_Logo.png" width="600" th:src="@{/img/BILABONNEMENT_Logo.png}">
    <button onclick="location.href='/?logud=1'" class="logud-knap">Log ud</button>
</header>
<!-- lavet af Jannick !-->
<hr class="divide">
<div class="button-container">
    <button class="tilbageButton" onclick="window.location.href='/manageFleet'">Tilbage</button>
</div>
<div class="manageWrapper">
    <div class="manageFjern-container">
        <h2>Fjern Bil Fra Fleet List</h2>
        <div th:each="bil : ${fleetList}" class="carboxfjern">
            <form action="/FjernBil" method="post" onsubmit="return confirm('Er du sikker på at denne bil skal fjernes?')">
                <h3 th:text="${bil.carModel} + ' (' + ${bil.brand} + ')'"></h3>
                <p><strong>Stelnummer:</strong> <span th:text="${bil.chassisNumber}"></span></p>
                <p><strong>Type:</strong> <span th:text="${bil.type}"></span></p>
                <p><strong>Nummerplade:</strong> <span th:text="${bil.licensePlate}"></span></p>
                <p><strong>Brændstof:</strong> <span th:text="${bil.fuel}"></span></p>
                <p><strong>Status:</strong> <span th:text="${bil.status}"></span></p>

                <input type="hidden" name="chassisNumber" th:value="${bil.chassisNumber}">

                <label for="chassisNumber">Indtast Stelnummer for at bekræfte:</label>
                <input type="text" name="chassisNumber" id="chassisNumber" placeholder="Indtast Stelnummer" required>
                <button type="submit" class="fjernKnappen">Fjern Bil</button>
            </form>
        </div>
    </div>
</div>



</body>
</html>
