<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bilabonnement Forretningsudvikler</title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{css/style.css}">

</head>
<body>
<header class="header2">
    <img class="pictureLogo" src="../static/img/BILABONNEMENT_Logo.png" width="600" th:src="@{/img/BILABONNEMENT_Logo.png}">
    <button onclick="location.href='/?logud=1'" class="logud-knap">Log ud</button>
</header>
<!-- lavet af Kevin !-->
<hr class="divide">
<div class="box-container">
    <button class="containerbtn" onclick="window.location.href='/KPIpage'" >Nøgletal<br>
        <img src="../static/img/kpi.png" width="100px" height="100px" th:src="@{/img/kpi.png}" class="containerimg">
    </button>
</div>

<div th:if="${isAdmin}" class="button-container">
    <button class="opretBilButton" onclick="window.location.href='/Administrator'">Tilbage til Administrator panel</button>
</div>


</body>
</html>