<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opret bruger</title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{css/style.css}">
</head>
<body>
<header class="header2">
    <img class="pictureLogo" src="../static/img/BILABONNEMENT_Logo.png" width="600" th:src="@{/img/BILABONNEMENT_Logo.png}">
</header>
<div class="login-container">
    <h2>Hjælp</h2>
    <h3>Hvis du skal oprettes i systemmet eller have gendannet din adgangskode
    skal du kontakte din nærmeste administrator for hjælp</h3>
</div>
</body>
</html>