<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bilabonnement</title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{css/style.css}">

</head>
<body>
<header class="header2">
    <img class="pictureLogo" src="../static/img/BILABONNEMENT_Logo.png" width="600" th:src="@{/img/BILABONNEMENT_Logo.png}">

    <button class="logud-knap">Log ud</button>
</header>

<table id>
    <thead>
    <tr>
        <th>Skade</th>
        <th>Pris</th>
        <a class="back_button" th:href="@{'/skade'}">Tilbage</a>
        <a class="wish_Button" href="#popup2">Tilføj skade</a>
        <div id="popup2" class="overlay">
            <div class="popup-container">
                <h2>Indtast oplysninger</h2>
                <a class="close" href="#">Luk vindue</a>
                <div class="input_box">
                    <form th:action="@{'/addSkade/' + ${lejeaftale}}">
                        <input type="text" name="Skade" placeholder="Skade" class="newList_label">
                        <input type="text" name="Skade_Pris" placeholder="Pris" class="newList_label">
                        <input type="submit" value="Tilføj" class="small-button">
                        <button class="small-button" type="submit">Tiløj skade</button>

                    </form>
                </div>
            </div>
        </div>


</body>
</html>
