<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bilabonnement</title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{css/style.css}">

</head>
<body>
<header class="header2">
    <img class="pictureLogo" src="../static/img/BILABONNEMENT_Logo.png" width="600" th:src="@{/img/BILABONNEMENT_Logo.png}">

    <button class="logud-knap">Log ud</button>
</header>

<div th:if="${skadeList != null}">
    <table id="skadeTable">
        <thead>
        <tr>
            <th>Skade</th>
            <th>Pris</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="skade : ${skadeList}">
            <td th:text="${skade.skade}"></td>
            <td th:text="${skade.skadePris}"></td>
        </tr>
        </tbody>
    </table>
</div>

<!-- tilføj skade  -->
<form th:action="@{/addSkade}" method="post">
    <input type="hidden" name="chassisNumber" th:value="${chassisNumber}">
    <input type="text" name="skade" placeholder="Skade" required>
    <input type="number" name="skadePris" placeholder="Pris" required>
    <button type="submit">Tilføj Skade</button>
</form>


<div>Total Price: <span th:text="${totalPris}"></span></div>


<form th:action="@{/submitTotalPrice}" method="post">
    <input type="hidden" name="chassisNumber" th:value="${chassisNumber}">
    <!-- Iterate over skadeList and add skade and skadePris as hidden inputs -->
    <div th:each="skade : ${skadeList}">
        <input type="hidden" name="skadeList[0].skade" th:value="${skade.skade}">
        <input type="hidden" name="skadeList[0].skadePris" th:value="${skade.skadePris}">
        <input type="hidden" name="skadeList[0].skadeId" th:value="${skade.skadeId}">
    </div>
    <input type="submit" value="Submit Total Price">
</form>

</body>
</html>