<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bilabonnement</title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{css/style.css}">

</head>
<body>
<header class="header2">
    <img class="pictureLogo" src="../static/img/BILABONNEMENT_Logo.png" width="600" th:src="@{/img/BILABONNEMENT_Logo.png}">

    <button class="logud-knap">Log ud</button>
</header>

<div class="box-container">
<div th:each="Lejeaftale: ${Lejeaftale}">

    <a th:href="@{'/tilbagelevering/' + ${Lejeaftale.Lejeaftale_id}}">
        <button class="lejeaftalebtn">
            <img src="../static/img/returnkeys.png" width="100px" height="100px" th:src="@{/img/returnkeys.png}" class="containerimg">
            <br>
            Lejeaftale ID: <span th:text="${Lejeaftale.Lejeaftale_id}"></span>
            <br>
            Stelnr: <span th:text="${Lejeaftale.chassisNumber}"></span>
            Nummerplade: <span th:text="${Lejeaftale.bil.licensePlate}"></span>

        </button>
    </a>
</div>
</div>

</body>
</html>
