<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bilabonnement</title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{css/style.css}">

</head>
<body>
<header class="header2">
    <img class="pictureLogo" src="../static/img/BILABONNEMENT_Logo.png" width="600" th:src="@{/img/BILABONNEMENT_Logo.png}">

    <button class="logud-knap">Log ud</button>
</header>
<div class="button-container">
    <button class="opretBilButton" onclick="window.location.href='/skade'">Tilbage</button>
</div>

<div class="box-container">
    <div th:each="Lejeaftale: ${Lejeaftale}">
        <form th:action="@{/tilbagelevering}" method="get">
            <button class="lejeaftalebtn">
                <input type="hidden" name="chassisNumber" th:value="${Lejeaftale.chassisNumber}">
                Lejeaftale ID: <span th:text="${Lejeaftale.Lejeaftale_id}"></span><br>
                <img src="../static/img/returnkeys.png" width="100px" height="100px" th:src="@{/img/returnkeys.png}" class="containerimg">
                <br>
                <span th:text="${Lejeaftale.brand}"></span>  <span th:text="${Lejeaftale.carModel}"></span>
                <br><br>
                Nummerplade: <span th:text="${Lejeaftale.licensePlate}"></span>
                <br><br>
                Stelnr: <span th:text="${Lejeaftale.chassisNumber}"></span>
            </button>
        </form>
    </div>
</div>

</body>
</html>
